{% extends "website/base.html" %}

{% block content %}
    <div class="productcontent">    
    <h1>Our Premium Products</h1>
    <div class="productitems">
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/c1.jpg" alt="product image">
            </div>
            <div class="itemname">4GB DDRA4 laptop memory</div>
            <div class="itemprice">Price: Rs.2000.00 </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/c2.jpg"  alt="product image">
            </div>
            <div class="itemname">1TB Laptop HDD</div>
            <div class="itemprice">Price: Rs.5000.00 </div>
        </div>
        <div class="productitem">
            <div class="itemimage">
            <img src="/static/img/d1.jpg"  alt="product image">  
            </div>
            <div class="itemname">2TB Laptop HDD</div>
            <div class="itemprice">Price: Rs.6858.00</div>
        </div>
        <div class="productitem">
            <div class="itemimage">
            <img src="/static/img/d2.jpg"  alt="product image">   
            </div>
            <div class="itemname">2TB Laptop,PC HDD </div>
            <div class="itemprice">Price: Rs.5299.00</div>
        </div>
        <div class="productitem">
            <div class="itemimage">
            <img src="/static/img/d3.jpg"  alt="product image">    
            </div>
            <div class="itemname">8GB DDR4 Laptop Memory</div>
            <div class="itemprice">Price: Rs.3000.00</div>
        </div>
        <div class="productitem">
            <div class="itemimage">
            <img src="/static/img/d4.jpg"  alt="product image">   
            </div>
            <div class="itemname">12GB SD Memorycard</div>
            <div class="itemprice">Price: Rs.1249.00</div>
        </div>
        <div class="productitem">
            <div class="itemimage">
            <img src="/static/img/d5.jpg"  alt="product image">    
            </div>
            <div class="itemname">500GB Laptop HDD</div>
            <div class="itemprice">Price: Rs.2495.00</div>
        </div>
        <div class="productitem">
            <div class="itemimage">
            <img src="/static/img/d6.jpg"  alt="product image">  
            </div>
            <div class="itemname">500GB 2.5inch Laptop HDD</div>
            <div class="itemprice">Price: Rs.2890.00</div>
        </div>
        <div class="productitem">
            <div class="itemimage">
            <img src="/static/img/d7.jpg"  alt="product image">   
            </div>
            <div class="itemname">160GB Laptop HDD</div>
            <div class="itemprice">Price: Rs.3000.00</div>
        </div>
        <div class="productitem">
            <div class="itemimage">
            <img src="/static/img/d8.jpg"  alt="product image">    
            </div>
            <div class="itemname">2.5inch HDD SDD for CD</div>
            <div class="itemimage">Price: Rs.345.00</div>
        </div>
        <div class="productitem">
            <div class="itemimage">
            <img src="/static/img/d9.jpg"  alt="product image"> 
            </div>
            <div class="itemname">1TB HDD External Portable Case</div>
            <div class="itemprice">Price: Rs.515.00</div>
        </div>
        <div class="productitem">
            <div class="itemimage">
            <img src="/static/img/d10.jpg"  alt="product image">  
            </div>
            <div class="itemname">320GB Laptop HDD</div>
            <div class="itemprice">Price: Rs.1499.00</div>
        </div>

    </div>
    </div>
{% endblock  %}